<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>

  {% block content %}
  <body>
    {% if user.ID %}
    <h1>Hello {{ user.nama }}</h1>
    <a class="btn btn-primary" href="{% url 'rental-buku:logout' %}" role="button">Logout</a>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" id="navId">
        <li class="nav-item">
            {% if '/rental/' == request.path %} 
            <a href="{% url 'rental-buku:index' %}" class="nav-link active">Home</a>
            {% else %}
            <a href="{% url 'rental-buku:index' %}" class="nav-link">Home</a>
            {% endif %}  
        </li>
        {% if user.roles_id.ID == 2 %}
        <li class="nav-item">
            {% if '/rental/#pinjaman' == request.path %} 
            <a href="#pinjaman" class="nav-link active">Pinjaman Saya</a>
            {% else %}
            <a href="#pinjaman" class="nav-link">Pinjaman Saya</a>
            {% endif %}  
        </li>
        {% elif user.roles_id.ID == 1 %}
        <li class="nav-item">
            {% if '/rental/#peminjaman' == request.path %} 
            <a href="#pinjaman" class="nav-link active">Peminjaman Saya</a>
            {% else %}
            <a href="#pinjaman" class="nav-link">Peminjaman Saya</a>
            {% endif %}  
        </li>
        <li class="nav-item">
            <a href="{% url 'rental-buku:list' %}" class="nav-link">Buku</a>
        </li>
        {% endif %}
    </ul>
    {% else %}
    <h1>Hello, world!</h1>
    {% endif %}
    

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
  {% endblock content %}
</html>