<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

{% block content %}
{% load crispy_forms_tags %} 
<section id="list-book" class="py-5 text-primary" style="margin-bottom: 80px;">
    <div class="card text-white bg-primary">
        <img class="card-img-top" src="{{ object.gambar }}" alt="">
        <div class="card-body">
            <h4 class="card-title">{{ object.judul_buku }}</h4>
            <p class="card-text">{{ object.harga }}</p>
            <p class="card-text">{{ object.pemilik_id }}</p>
            <p class="card-text">{{ object.peminjam_id }}</p>
            <p class="card-text">{{ object.status }}</p>
            <p class="card-text">{{ object.publish }}</p>
            <p class="card-text">{{ object.deskripsi }}</p>
            <a 
                class="btn btn-secondary" 
                href="{% url 'rental-buku:delete' object.ID %}" 
                role="button"
            >Delete
            </a>
        </div>
    </div>
</section>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
{% endblock content %}