<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

{% block content %}
{% load crispy_forms_tags %} 
<section id="add-book" class="py-5 text-primary" style="margin-bottom: 80px;">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="card">
            <div class="card-header bg-primary text-white">
              <h4>
                <i class="fas fa-sign-in-alt"></i> Add Book</h4>
            </div>
            <div class="card-body">
                <form action="" method="POST">
                    {% csrf_token %}
                    {{ form | as_crispy_errors }}
                    {{ form.errors | as_crispy_errors }}
                    {{ form.non_field_errors | as_crispy_errors }}

                    <div class="form-group">
                        {{ form.judul_buku | as_crispy_field }} 
                    </div>
                    <div class="form-group">
                        {{ form.deskripsi | as_crispy_field }}
                    </div>
                    <div class="form-group">
                        {{ form.harga | as_crispy_field }}
                    </div>
                    <div class="form-group">
                        {{ form.status | as_crispy_field }}
                    </div>
                    <div class="form-group">
                        {{ form.publish | as_crispy_field }} 
                    </div>

                    <input type="submit" value="Update" class="btn btn-secondary btn-block">
                </form>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
{% endblock content %}